<header>
    <div class="container">
        <a href="index.html" class="header-logo">
            <img src="./../assets/img/logo-img.svg" alt="logo">
        </a>
        
        <div id="mobile-container" class="mobile-container">
            <nav class="header-nav">
                <ul class="header-nav__list">
                    <li class="header-nav__item"><a href="#" class="header-nav__link"></a>Home</li>
                    <li class="header-nav__item"><a href="#" class="header-nav__link"></a>Select</li>
                    <li class="header-nav__item"><a href="#" class="header-nav__link"></a>Shop</li>
                </ul>
            </nav>
        </div>
        <button id="btn-burger" class="btn btn-burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>

